## Scrape Wikipedia Page

In [1]:
#import packages 
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
#get content 
web = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
con = BeautifulSoup(web.content, 'html.parser')
table = con.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

## Create DataFrame

In [7]:
df = pd.DataFrame(row)
df1 = df[0].str.split('\n', expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df3 = df2.drop(df2.index[0])
df3.head()

    Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

## Remove Cells Without and Assigned Borough

In [9]:
df4 = df3[df3.Borough != 'Not assigned']
df4.head()

    Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

## Merge Neighborhoods with Same Postcode

In [11]:
df5 = df4.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)
df5.reset_index(inplace = True)
df5.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

## Name Queen's Park

In [12]:
df6 = df5.replace("Not assigned", "Queen's Park")
df6.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

## Print Shape

In [14]:
df6.shape

(103, 3)